
{% extends 'base.html' %}
<h1>{{title}}</h1>



  {% for a in recipe_list %}
  {% for key, value in a.items %}
  {% if key == "text_en" %}
  {{ key }} : {{ value }}
  {% endif %}
  <br>
  {% endfor %}
{% endfor %}




{% block title %}Login{% endblock %}

{% block body_block %}
<div class="main-wrap">
    <div id="container">
        <!-- WEBSITE SEARCH STARTS HERE -->
        <!-- end of top-search div-->
		
				<div id="content" class="clearfix "><div id="left-area" class="clearfix">
                {% for a in recipe_list %}
                
   <p>
          </p>
    <span class="w-pet-border"></span>    
    <div class="recipe-listing-item clearfix post-17 recipe type-recipe status-publish has-post-thumbnail hentry tag-cheese tag-goat recipe_type-cheese-2 recipe_type-potatos recipe_type-rools cuisine-indian course-snack ingredient-black-pepper ingredient-butter ingredient-cheese skill_level-intermediate" id="post-17">

            
       
        <div class="recipe-tags">
        {% for key, value in a.items %}
        {% if key == "name" %}
			<span class="type"> NAME: <a>{{value}}</a></span>            
			<br>
            {% endif %}
            {% endfor %}
            {% for key, value in a.items %}
             {% if key == "id" %}
            <span class="type"> ID: <a>{{value}}</a></span>
			<br>
            {% endif %}
            {% endfor %}
            {% for key, value in a.items %}
            {% if key == "prepTime" %}
            <span class="cuisine"> Preparation Time: <a>{{value}}</a></span>
            {% endif %}
            {% endfor %}
        </div>
		  <div class="URL-tags">
          {% for key, value in a.items %}
            {% if key == "cookTime" %}
            <span class="cuisine"> Cook Time: <a>{{value}}</a></span>
			<br>
            {% endif %}
            {% endfor %}
            {% for key, value in a.items %}
            {% if key == "url" %}
			<span class="type"><a href={{value}} class="readmore">Read More</a></span>
            {% endif %}
            {% endfor %}
		</div>

        <!--<a href="http://inspirythemesdemo.com/alt-foodrecipes/recipe/goat-cheese-and-chorizo-rools/" class="readmore">Read more</a>-->
    </div>
<!--</div>--><!-- end of post div -->

{% endfor %}
    </div><!-- end of left-area -->
	</div>


        <!-- ============= CONTENT AREA STARTS HERE ============== -->
       </div>
        </div>
{% endblock %}
